AIRFLOW_UID=50000
AIRFLOW_GID=0

# DB
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=AIRFLOW__DATABASE__SQL_ALCHEMY_CONN
AIRFLOW__CELERY__RESULT_BACKEND=AIRFLOW__CELERY__RESULT_BACKEND

# Redis
AIRFLOW__CELERY__BROKER_URL=AIRFLOW__CELERY__BROKER_URL

# Executor type
AIRFLOW__CORE__EXECUTOR=AIRFLOW__CORE__EXECUTOR

# API & Secret keys
AIRFLOW__WEBSERVER__SECRET_KEY=AIRFLOW__WEBSERVER__SECRET_KEY
AIRFLOW__API_AUTH__JWT_SECRET=AIRFLOW__API_AUTH__JWT_SECRET

# Execution API (EC2 A own public/private IP)
AIRFLOW__CORE__EXECUTION_API_SERVER_URL=AIRFLOW__CORE__EXECUTION_API_SERVER_URL

# Worker log server (EC2 B IP)
AIRFLOW__CELERY__WORKER_LOG_SERVER_HOST=AIRFLOW__CELERY__WORKER_LOG_SERVER_HOST
AIRFLOW__CELERY__WORKER_LOG_SERVER_PORT=AIRFLOW__CELERY__WORKER_LOG_SERVER_PORT